<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/main.css" rel="stylesheet" />
        <title>
            Document
        </title>
    </head>
    <body>
        <image src="/static/Vector.svg"
        />
        <div class="v2_6">
            <div class="v4_12">
            </div>
            <span class="v4_15">Meal Booking</span>
            <div class="v4_13">

            </div><div class="v47_10">

            </div><span class="v47_11">Manage Requests</span>
            <span class="v4_16">Maintenance Request</span>
            <div class="v4_14">

            </div>
            <span class="v4_17">Housekeeping</span>
            <div class="v4_29">

            </div>
            <span class="v11_31">
                Welcome Back Robot User</span>
                <div class="v11_33">

                </div><div class="v143_88">
                    <div class="v143_89">

                    </div><div class="v143_90">

                    </div><div class="v143_91">

                    </div></div></div></body></html>